.class{
    background-color: rgb(253, 225, 229);
}
.class1{
   
   
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-between;
    

}
.class2{
    display: block;
    
}
.class3{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
height: 288px;
width: 708px;
margin-top: 297px;
}

.class4{
    width: 517px;
    height: 243px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 60px;
margin-bottom: 30px;

}
.class5{
    height: 85px;
    width: 230px;
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 347px;
  
}
.class6{
    position: relative;
}
.class7{
    height: 1100px;
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 0;
 
}
.class8{
    display: block;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.class9{
    display: flex;
    justify-content: space-between;
}
.bk{
    width: 464px;
height: 538px;
flex-shrink: 0;
display: flex;
  justify-content: center;
  align-items: center;
border-radius: 300px 300px 0px 0px;
}

.class13{
    color: #272727;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
  justify-content: center;
  align-items: center;
  
}

.class14{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family:'Open Sans', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.class10{
    padding-top: 110px;
     padding-left: 78px;
     padding-right: 78px;
    width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.class11{padding-top: 110px;
    padding-left: 78px;
    padding-right: 78px;
   width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
}
.class12{
    padding-top: 110px;
    padding-left: 78px;
    padding-right: 78px;
   width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
  background-color: rgba(71, 125, 17, 0.15);
}
.cap{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.class16{
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: space-between;
    margin-bottom: 140px;
    margin-bottom: 140px;
    border-radius: 8px;
    border-color: black;

background: rgba(39, 39, 39, 0.05);

}

.class15{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 140px;
    padding-top: 90px;
    padding-bottom:160px ;
 
}
.c9{
    text-align: center;
    
}
.c1{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;


}
.c2{
    position: relative;
    text-align: center;
    
}
.c4{
    width: 100%;
height: 620px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(248, 110, 140, 0.27);
display: flex;
position: absolute;
padding-top: 100px;
padding-bottom: 100px;
justify-content: space-between;

}
.c6{
    color: #272727;
font-family: 'Open Sans', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: normal;
margin-bottom: 60px;

}

.c7{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family:'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 60px;

}
.c8{
    color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.c10{
    width: 418px;
height: 620px;
flex-shrink: 0;
}
.c9{
    margin-left: 204px;
   margin-top: 230px;
   margin-bottom: 168px;
}
.c5{
    margin-right:400px ;
}

.fl1{
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}
.f12{
    width: 342px;
height: 396px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.fl3{
    color: #272727;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 50px;
}
.fl4{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;
}
.sub1{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: relative;
text-align: center;
padding-top: 134px;
}
.sub2{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
position: relative;
text-align: center;
}
.sub3{width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
}
.sub4{
    width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
    
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin: auto auto;

}
.sub5{
   display: flex;
   justify-content: center;
   margin-top: 40px;
  
   
    
}
.subm{
    background-image: url('../a/A\ rectangle\ 9.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
height: 449px;
flex-shrink: 0;
border-radius: 8px;
margin-bottom: 200px;

}
.ft1{
    align-items: center;
    width: auto;
height: 449px;
flex-shrink: 0;
background-color: black;
}

.ft2{
   padding-top: 100px;
    text-align: center;
    color: #f7e8eb;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;

}
.ft3{ padding-top: 20px;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.ft4{
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.vd1{
    background-color: orangered;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 300px;
    
}
.vd{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 800px;
    height: auto;
}