.class{
    background-color: rgb(253, 225, 229);
}
.class1{
   
   
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-between;
    

}
.class2{
    display: block;
    
}
.class3{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
height: 288px;
width: 708px;
margin-top: 297px;
}
.class4{
    width: 517px;
    height: 243px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 60px;
margin-bottom: 30px;

}
.class5{
    height: 85px;
    width: 230px;
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 347px;
  
}
.class6{
    position: relative;
}
.class7{
    height: 1100px;
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 0;
 
}
.class8{
    display: block;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.class9{
    display: flex;
    justify-content: space-between;
}
.bk{
    width: 464px;
height: 538px;
flex-shrink: 0;
display: flex;
  justify-content: center;
  align-items: center;
border-radius: 300px 300px 0px 0px;
}

.class13{
    color: #272727;
text-align: center;
font-family: 'Open Sans', sans-serif;;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
  justify-content: center;
  align-items: center;
  
}

.class14{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 26px;
font-style: normal;
font-weight: 300;
line-height: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.class10{
    padding-top: 110px;
     padding-left: 78px;
     padding-right: 78px;
    width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.class11{padding-top: 110px;
    padding-left: 78px;
    padding-right: 78px;
   width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
}
.class12{
    padding-top: 110px;
    padding-left: 78px;
    padding-right: 78px;
   width: 310px;
height: 428px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border-radius: 300px 300px 0px 0px;
  background-color: rgba(71, 125, 17, 0.15);
}
.cap{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}